<div ng-controller="loginController" class="flex items-center justify-center h-screen">
  <div class="w-full md:w-1/2">
    <h1 class="text-center text-2xl font-bold">LOGIN</h1>

    <form ng-submit="login()" class="mt-4">
      <div class="mb-4">
        <input type="text" ng-model="username" placeholder="Username" class="w-full px-4 py-2 border rounded" required>
      </div>

      <div class="mb-4">
        <input type="password" ng-model="password" placeholder="Password" class="w-full px-4 py-2 border rounded" required>
      </div>

      <div class="text-center">
        <input type="submit" value="Login" class="px-4 py-2 text-white bg-zinc-500 rounded cursor-pointer hover:bg-green-600">
      </div>
    </form>

    <p ng-if="error != null" class="text-center mt-3 text-red-500">{{ error }}</p>
    <p ng-if="success != null" class="text-center mt-3 text-green-500">{{ success }}</p>
  </div>
</div>
