<div ng-controller="homeController">

    <div class="flex items-center justify-center h-screen" ng-hide="isAuth">
        <div class="text-center">
            <div>
                <h1 class="text-4xl font-bold mb-4">...LOADING...</h1>
            </div>
        </div>
    </div>

    <div ng-show="isAuth">
        <div class="relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-[#d8f3dc]">
            <div class="max-w-lg mx-auto my-5 px-5">
                <h1 class="text-3xl font-normal">Welcome to ndbinh's website</h1>
                <p class="mt-4 px-6 py-2 text-sm text-zinc-400">
                    Period 1 is focus on frontend and basic backend. <br /> (DACNTT1-3A)
                </p>
                <p class="text-lg font-normal mt-4">
                    Period 2 is focus on backend and improve the frontend<br /> (KTCN-3B)
                </p>
            </div>
            <div class="absolute top-0 right-0 w-72 h-72 bg-gray-300 rounded-full transform translate-x-1/2 translate-y-1/2">
            </div>
            <div class="absolute bottom-0 left-0 w-36 h-36 bg-gray-200 rounded-full transform -translate-x-1/2 translate-y-1/2">
            </div>
        </div>

        <div class="flex flex-wrap mt-6">
            <div class="w-full md:w-1/2">
                <div class="h-full p-5 text-white bg-[#a4c3b2] rounded-lg mx-1">
                    <h2 class="text-2xl">Admin Role</h2>
                    <p class="mt-4">
                        This role for admin website, use to CRUD product, view dashboard, view user...
                    </p>
                    <a ng-href="{{linkHomeAdmin}}"
                       class="bg-white text-black border border-white py-2 px-4 mt-4 rounded-lg hover:bg-[#52796f]"
                       type="button">
                        Go to Admin website
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 mt-4 md:mt-0">
                <div class="h-full p-5 bg-[#cce3de] border border-gray-300 rounded-lg mx-1">
                    <h2 class="text-2xl">User Role</h2>
                    <p class="mt-4">
                        This role for user, view product, buy product, add product into cart...
                    </p>
                    <a ng-href="{{linkHomeUser}}"
                       class="bg-white text-gray-700 border border-gray-500 py-2 px-4 mt-4 rounded-lg hover:bg-gray-400"
                       type="button">
                        Go to User website
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>