<div class="container mx-auto px-4 py-8" ng-controller="listProductController">
    <h2 class="text-3xl font-bold mb-4">Our Menu</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Product Card 1 -->
        <div class="relative overflow-hidden rounded-lg shadow-md group" ng-repeat="product in readProducts track by $index">
            <img src="/image/{{product.image}}" alt="{{product.image}}"
                 class="w-full h-48 object-cover rounded-md transition-opacity duration-500 group-hover:opacity-50">
            <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                <div class="p-4 text-center px-[50px]">
                    <h3 class="text-xl font-bold mb-2">{{product.name}}</h3>
                    <p class="text-gray-700">
                        {{product.description}}
                    </p>
                </div>
                <div class="p-4 text-center">
                    <a href="#" type="button">Price: {{product.price}}</a>
                    <a href="/home/user/listproduct/product?id={{product._id}}" type="button" class="text-[#744700] hover:text-cyan-700 cursor-pointer">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>