<div ng-controller="productController">

    <!-- navbar -->
    <div id="mySidenav"
         class="h-full bg-black text-white w-0 fixed z-1 top-0 left-0 transition-all duration-500 overflow-x-hidden">
        <a class='absolute top-0 right-4 text-3xl ml-12 transition-colors duration-300 hover:text-red-500 cursor-pointer'
           ng-click="contactNav()">&times;</a>
        <br>
        <a ng-href="{{linkAdminProducts}}"
           class="px-8 py-8 text-lg block text-gray-300 transition-colors duration-300 hover:text-cyan-500">Products</a>
        <a ng-href="{{linkAdminUsers}}"
           class="px-8 py-8 text-lg block text-gray-300 transition-colors duration-300 hover:text-cyan-500">Users</a>
        <a ng-href="{{linkAdminOrders}}"
           class="px-8 py-8 text-lg block text-gray-300 transition-colors duration-300 hover:text-cyan-500">Orders</a>
        <a ng-href="{{linkAdminHome}}"
           class="px-8 py-8 text-lg block text-gray-300 transition-colors duration-300 hover:text-cyan-500">
            Admin
            home
        </a>
    </div>



    <!-- Use any element to open the sidenav -->
    <div id="main" class="duration-500 p-5">
        <!-- Dashboard -->
        <div class="bg-gray-200">
            <div class="mx-auto">
                <div class="flex items-center justify-between py-4">
                    <div class="flex items-center pointer-events-auto">
                        <h1 class="text-2xl font-bold cursor-pointer" ng-click="contactNav()"> &#9776; Dashboard</h1>
                    </div>
                    <ol class="flex items-center space-x-2 text-sm">
                        <li><a ng-href="{{linkAdminHome}}" class="text-blue-500">Home</a></li>
                        <li class="text-gray-500">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- show data in box -->
        <div class="my-4 flex flex-wrap">
            <div class="w-full lg:w-1/4 px-4 mb-4">
                <!-- small box -->
                <div class="bg-blue-500 rounded-lg overflow-hidden border border-blue-700">
                    <div class="p-4">
                        <h3 class="text-2xl font-bold text-white">Na/N</h3>
                        <p class="text-white">New Orders</p>
                    </div>
                    <div class="px-4 py-2 bg-white">
                        <i class="ion ion-bag"></i>
                        <a href="#" class="text-blue-500">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-1/4 px-4 mb-4">
                <!-- small box -->
                <div class="bg-orange-500 rounded-lg overflow-hidden border border-blue-700">
                    <div class="p-4">
                        <h3 class="text-2xl font-bold text-white" ng-if="countProducts.count">
                            {{countProducts.count}}
                        </h3>
                        <h3 class="text-2xl font-bold text-white" ng-if="!countProducts.count">0</h3>
                        <p class="text-white">
                            Products
                            <button type="button" class="duration-300 hover:text-blue-500" ng-click="refreshOriginPage()">
                                <i class="fa-solid fa-rotate-right cursor-pointer"></i>
                            </button>
                        </p>


                    </div>
                    <div class="px-4 py-2 bg-white">
                        <i class="ion ion-bag"></i>
                        <a ng-href="{{linkAdminProducts}}" class="text-blue-500">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-1/4 px-4 mb-4">
                <!-- small box -->
                <div class="bg-red-700 rounded-lg overflow-hidden border border-blue-700">
                    <div class="p-4">
                        <h3 class="text-2xl font-bold text-white">Na/N</h3>
                        <p class="text-white">Request Cancel Orders</p>
                    </div>
                    <div class="px-4 py-2 bg-white">
                        <i class="ion ion-bag"></i>
                        <a href="#" class="text-blue-500">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-1/4 px-4 mb-4">
                <!-- small box -->
                <div class="bg-green-500 rounded-lg overflow-hidden border border-blue-700">
                    <div class="p-4">
                        <h3 class="text-2xl font-bold text-white">Na/N</h3>
                        <p class="text-white">Orders Completed</p>
                    </div>
                    <div class="px-4 py-2 bg-white">
                        <i class="ion ion-bag"></i>
                        <a href="#" class="text-blue-500">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- show product -->
        <div class="relative">
            <div>
                <a class="flex justify-end items-center absolute top-0 right-0 text-primary" href="#">Collapse All</a>
            </div>
            &emsp;
            <div class="border border-gray-300 rounded">
                <div class="p-4 flex justify-between items-center bg-gray-100">
                    <h3 class="text-lg font-bold">Show Products</h3>
                    <div class="space-x-2">
                        <button type="button"
                                class="px-2 py-1 bg-sky-500 text-white rounded transition-colors duration-300 hover:bg-sky-700"
                                ng-click="openShow()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="p-4 xl:min-h-[300px] lg:min-h-[380px] sm:min-h-[480px] relative"
                     ng-if="isHiddenShow === false">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[50px]">No.</th>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[150px]">Name</th>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[100px]">Price</th>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[100px]">Quantity</th>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[200px]">Description</th>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[200px]">Image</th>
                                <th class="border-b-2 border-gray-300 px-4 py-2 text-center max-w-[150px]">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in displayedProducts track by $index" class="hover:bg-gray-100">
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[50px] text-center">{{ product.productNumber }}</td>
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[150px] text-center">{{ product.name }}</td>
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[100px] text-center">{{ product.price }}</td>
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[100px] text-center">{{ product.quantity }}</td>
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[200px]">{{ product.description }}</td>
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[100px] text-center">{{ product.image }}</td>
                                <td class="border-b border-gray-300 px-4 py-2 max-w-[150px] text-center">
                                    <button type="button"
                                            class="px-2 py-1 bg-yellow-500 text-white rounded transition-colors duration-300 hover:bg-yellow-700 w-[70px]"
                                            ng-click="">
                                        Update
                                    </button>
                                    <button type="button"
                                            class="px-2 py-1 bg-red-500 text-white rounded transition-colors duration-300 hover:bg-red-700 w-[70px]"
                                            ng-click="deleteProduct(product.name)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-8">

                        <div class="flex justify-end items-center absolute bottom-2">
                            <button type="button" class="duration-300 hover:text-blue-500" ng-click="">
                                <i class="fa-solid fa-circle-info" style="color: #c2c2c2;"> Show All</i>

                            </button>
                        </div>
                        <div class="flex justify-end items-center absolute bottom-0 right-0">
                            <button type="button" class="px-4 py-2" ng-click="previousPage()" ng-if="currentPage !== 1">
                                <i class="fa-solid fa-arrow-left" style="color: #0cdae9;"></i>
                            </button>

                            <p>{{currentPage}}</p>

                            <button type="button" class="px-4 py-2" ng-click="nextPage()"
                                    ng-if="currentPage !== totalPages">
                                <i class="fa-solid fa-arrow-right" style="color: #0cdae9;"></i>
                            </button>
                            <div class="px-4 py-2 pr-7 mr-0.5" ng-if="currentPage === totalPages"></div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- create -->
            <div class="border border-gray-300 rounded">
                <div class="p-4 flex justify-between items-center bg-gray-100">
                    <h3 class="text-lg font-bold">Create New Product</h3>
                    <div class="space-x-2">
                        <button type="button"
                                class="px-2 py-1 bg-sky-500 text-white rounded transition-colors duration-300 hover:bg-sky-700"
                                ng-click="openCreate()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="p-4" ng-class="{ 'hidden': isHiddenCreate }">
                    <form ng-submit="createProduct()" class=" bg-white p-8 rounded shadow-md">

                        <div class="mb-4">
                            <label for="name" class="block text-gray-700 font-semibold">(*)Name:</label>
                            <input type="text" id="name" ng-model="product.name"
                                   class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500"
                                   required>
                        </div>

                        <div class="mb-4">
                            <label for="price" class="block text-gray-700 font-semibold">(*)Price:</label>
                            <input type="number" id="price" ng-model="product.price" step="0.01" min="0"
                                   class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500"
                                   required>
                        </div>

                        <div class="mb-4">
                            <label for="price" class="block text-gray-700 font-semibold">Image:</label>
                            <input type="text" id="price" ng-model="product.image" placeholder="default.jpg"
                                   class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500">
                        </div>

                        <div class="mb-4">
                            <label for="description" class="block text-gray-700 font-semibold">Description:</label>
                            <textarea id="description" ng-model="product.description"
                                      class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500"></textarea>
                        </div>

                        <div class="mb-4">
                            <label for="category" class="block text-gray-700 font-semibold">(*)Category:</label>
                            <select id="category" ng-model="product.category"
                                    class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500"
                                    required>
                                <option value="">Select a category</option>
                                <option ng-repeat="category in categories track by $index" value="{{ category.name }}">
                                    {{ category.name }}
                                </option>
                            </select>
                        </div>
                        <div class="alert success bg-green-500 border-l-4 border-green-700 text-white p-4 mb-4"
                             ng-if="successNoti">
                            <strong>Success!</strong> {{successMess}}
                        </div>
                        <div class="alert success bg-red-500 border-l-4 border-red-700 text-white p-4 mb-4"
                             ng-if="errorNoti">
                            <strong>Error</strong> {{errorMess}}
                        </div>

                        <div class="flex justify-end">
                            <button type="submit" ng-click="refreshPage()"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded duration-300">
                                Create Product
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <!-- adding quantity's product -->
            <div class="border border-gray-300 rounded">
                <div class="p-4 flex justify-between items-center bg-gray-100">
                    <h3 class="text-lg font-bold">Import Product Quantity</h3>
                    <div class="space-x-2">
                        <button type="button"
                                class="px-2 py-1 bg-sky-500 text-white rounded transition-colors duration-300 hover:bg-sky-700"
                                ng-click="openAdd()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="p-4" ng-class="{ 'hidden': isHiddenAdd }">
                    <form ng-submit="updateQuantity()" class=" bg-white p-8 rounded shadow-md">

                        <div class="mb-4">
                            <label for="name" class="block text-gray-700 font-semibold">(*)Name:</label>
                            <select id="name" ng-model="product2.name"
                                    class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500"
                                    required>
                                <option value="">Select a name of product</option>
                                <option ng-repeat="product2 in readProducts track by $index" value="{{ product2.name }}">
                                    {{ product2.name }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="quantity" class="block text-gray-700 font-semibold">(*)Quantity:</label>
                            <input type="number" id="quantity" ng-model="product2.quantity"
                                   class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:border-blue-500"
                                   required>
                        </div>

                        <div class="alert success bg-green-500 border-l-4 border-green-700 text-white p-4 mb-4"
                             ng-if="successNoti2">
                            <strong>Success!</strong> {{successMess2}}
                        </div>
                        <div class="alert success bg-red-500 border-l-4 border-red-700 text-white p-4 mb-4"
                             ng-if="errorNoti2">
                            <strong>Error</strong> {{errorMess2}}
                            <br />
                            <strong>Error</strong> {{product2.name}}
                            <br />
                            <strong>Error</strong> {{product2.quantity}}
                        </div>

                        <div class="flex justify-end">
                            <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded duration-300">
                                Import Quantity
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <!-- update -->
            <!-- <div class="border border-gray-300 rounded">
                <div class="p-4 flex justify-between items-center bg-gray-100">
                    <h3 class="text-lg font-bold">Update Product</h3>
                    <div class="space-x-2">
                        <button type="button"
                            class="px-2 py-1 bg-sky-500 text-white rounded transition-colors duration-300 hover:bg-sky-700"
                            ng-click="openUpdate()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="p-4" ng-class="{ 'hidden': isHiddenUpdate }">

                </div>
            </div> -->
            <!-- delete -->
            <!-- <div class="border border-gray-300 rounded">
                <div class="p-4 flex justify-between items-center bg-gray-100">
                    <h3 class="text-lg font-bold">Delete Product</h3>
                    <div class="space-x-2">
                        <button type="button"
                            class="px-2 py-1 bg-sky-500 text-white rounded transition-colors duration-300 hover:bg-sky-700"
                            ng-click="openDelete()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="p-4" ng-class="{ 'hidden': isHiddenDelete }">


                </div>

            </div> -->
        </div>
    </div>
