<div class="" ng-controller="welcomeController">
    <div class="flex justify-center items-center min-h-screen bg-[url('/image/bg.jpg')] bg-contain">
        <div class="text-center">
            <h1 class="text-4xl font-bold text-white">Welcome to the coffee shop</h1>
            <p class="text-lg text-white my-4">Thank you for visiting our website!</p>
            <div class="space-x-4">
                <a ng-href="{{linkSignIn}}" class="bg-blue-500 text-white px-4 py-2 rounded">Sign In</a>
                <a ng-href="{{linkSignUp}}" class="bg-green-500 text-white px-4 py-2 rounded">Sign Up</a>
            </div>
        </div>
    </div>
</div>