<header class="fixed top-0 w-full bg-zinc-500 absolute bg-gradient-to-r from-[#996633] to-[#663300]">
    <div class="flex items-center justify-between">
        <a class="px-4 py-2 text-white" href="/">Logo</a>
        <div class="md:hidden" ng-class="{ 'hidden': !isNavbarOpen }">
            <a class="px-4 py-2 text-white" href="/home">Home</a>
            <a class="px-4 py-2 text-white" href="/home/user" ng-if="role === 'user'">User</a>
            <a class="px-4 py-2 text-white" href="/home/admin" ng-if="role === 'admin'">Admin</a>
            <a class="px-4 py-2 text-white" href="#" ng-click="logout()">LogOut</a>
        </div>
        <div class="hidden md:flex">
            <a class="px-4 py-2 text-white" href="/home">Home</a>
            <a class="px-4 py-2 text-white" href="/home/user" ng-if="role === 'user'">User</a>
            <a class="px-4 py-2 text-white" href="/home/admin" ng-if="role === 'admin'">Admin</a>
            <a class="px-4 py-2 text-white" href="#" ng-click="logout()">LogOut</a>
        </div>
        <button class="px-4 py-2 text-white text-xl md:hidden" ng-click="toggleNavbar()">
            &#9776;
        </button>
    </div>
</header>
